*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
TopDownShooter/TopDownShooter/bin/
TopDownShooter/bin/
TopDownShooter/TopDownShooter/obj/
TopDownShooter/obj/
TopDownShooter/Content/obj/
!TopDownShooter/x64
!TopDownShooter/x86
!TopDownShooter/Libraries
